---
wordpress_hostname: {{ site_hostname }}
wordpress_server_hostname: {{ server_hostname }}

wordpress_database_name: '{{ mysql_databases[0].name }}'
wordpress_database_username: '{{ mysql_users[0].name }}'
wordpress_database_password: '{{ mysql_users[0].password }}'

wordpress_root: /var/www/{{ wordpress_hostname }}
wordpress_install_path: {{ wordpress_root }}/wordpress
wordpress_data_path: {{ wordpress_install_path }}/wp-content
wordpress_page_cache_path: {{ wordpress_root }}/cache
wordpress_page_cache_size: 500m
wordpress_nginx_page_cache_duration: 200 301 302 60m
